/* body   {


background-color: blue;
}


h1 {
background-color:white ;
} */

/* p::before {
content: "-";
}

p::after {
content: "-";
} */


/* div.success > p:nth-child(odd) {
text-transform: uppercase;
}
*/

.example{
  position:relative;
  border: 1px solid green;
  height: 100vh;
  width: 100vw;
}

.static{
  position: static;
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.absolute{
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid blue;
  bottom: 0;
  right: 0;
}

.relative{
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid yellow;
  bottom: 10px;
  left: 10px;
}
